@import "normalize";
@import "./sprite/sprite-color";
@import "./sprite/sprite-icon";
@import "./sprite/sprite-png";

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
  Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  line-height: 1.6;
  font-size: 10px;
  background-image: url("/layout/bg.png");
  background-position: center top;
}

* {
  box-sizing: border-box;
}

a {
  color: #0070f3;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}
button{
  cursor: pointer;
  &:disabled{
    cursor: no-drop;
  }
}
img {
  max-width: 100%;
  display: block;
}

@media screen and (max-width: 1100px){
  html{
    font-size: 11px;
  }
}

@media screen and (max-width: 768px){
  html{
    font-size: 12px;
  }
}