.svg-icon_back-dims {
	width: 24px;
	height: 24px;
}

.svg-icon_channel-dims {
	width: 24px;
	height: 24px;
}

.svg-icon_clip-dims {
	width: 24px;
	height: 24px;
}

.svg-icon_close-dims {
	width: 24px;
	height: 24px;
}

.svg-icon_contacts-dims {
	width: 24px;
	height: 24px;
}

.svg-icon_dop-dims {
	width: 24px;
	height: 24px;
}

.svg-icon_email-dims {
	width: 24px;
	height: 24px;
}

.svg-icon_file-dims {
	width: 24px;
	height: 24px;
}

.svg-icon_group-dims {
	width: 24px;
	height: 24px;
}

.svg-icon_horse-dims {
	width: 24px;
	height: 24px;
}

.svg-icon_img-dims {
	width: 24px;
	height: 24px;
}

.svg-icon_info-dims {
	width: 24px;
	height: 24px;
}

.svg-icon_kolokol-dims {
	width: 24px;
	height: 24px;
}

.svg-icon_link-dims {
	width: 24px;
	height: 24px;
}

.svg-icon_lock-dims {
	width: 24px;
	height: 24px;
}

.svg-icon_menu-dims {
	width: 24px;
	height: 24px;
}

.svg-icon_menu2-dims {
	width: 24px;
	height: 24px;
}

.svg-icon_moon-dims {
	width: 24px;
	height: 24px;
}

.svg-icon_my-dims {
	width: 24px;
	height: 24px;
}

.svg-icon_options-dims {
	width: 24px;
	height: 24px;
}

.svg-icon_phone-dims {
	width: 24px;
	height: 24px;
}

.svg-icon_ramka-dims {
	width: 24px;
	height: 24px;
}

.svg-icon_send-dims {
	width: 24px;
	height: 24px;
}

.svg-icon_settings-dims {
	width: 24px;
	height: 24px;
}

.svg-icon_star-dims {
	width: 24px;
	height: 24px;
}

.svg-icon_store-dims {
	width: 24px;
	height: 24px;
}

.svg-icon_ten_no-dims {
	width: 24px;
	height: 24px;
}

.svg-icon_ten_yes-dims {
	width: 24px;
	height: 24px;
}

.svg-icon_test-dims {
	width: 24px;
	height: 24px;
}

.svg-icon_ugol-dims {
	width: 24px;
	height: 24px;
}

.svg-icon_update-dims {
	width: 24px;
	height: 24px;
}

.svg-icon_video-dims {
	width: 24px;
	height: 24px;
}

.svg-icon_www-dims {
	width: 24px;
	height: 24px;
}

.svg-icon_zoom-dims {
	width: 24px;
	height: 24px;
}

